<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recuperar senha</title>
</head>
<body>
    <form >
        <h3>Recuperar senha</h3>

       
        
        <container id="teste">
            PPk saliente
        </container>
        <button onclick="sendMail() ;  return false">Enviar</button>

    </form>
            <script>
                function sendMail() {
                var link = "fred@examplo.com"
                        + "mari@examplo.com"
                        + "&subject=" + escape("This is my subject")
                        + "&body=" + escape(document.getElementById('teste').value)
                ;

                    window.location.href = link;
                                                }
</script>
</body>
</html>